<html ng-app="yahooWeatherApp">
<head>
  <title>Weather App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>    
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="style.css" /> 
</head>
<body>
  <h1>London temperature....higher or lower?</h1>
  <div ng-controller="WeatherController">
    <p id='london'>The current temperature in London is: {{ londontemp }} </p>
    <p id='other_city'>The current temperature in Berlin is: {{ berlintemp  }}</p>
    <button class='higher' ng-click="higher()">Higher</button>
    <button class='lower' ng-click="lower()">Lower</button>

    <div ng-repeat="(country, capital) in countries">
      <p>  {{ country }} : {{ capital }}</p>
    </div>

  </div>
</body>
</html>