<html ng-app="yahooWeatherApp">
<head>
  <title>Weather App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>    
  <script type="text/javascript" src="app.js"></script>
  <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
  <link rel="stylesheet" href="style.css" /> 
  <meta charset="UTF-8">
</head>
<body>
  <h1>London temperature....higher or lower?</h1>
  <div ng-controller="WeatherController">
    
    <p id='score'>Current score = {{score}}</p>
    <p id='london'>The current temperature in London is: {{ londontemp }} fahrenheit </p>
    <!-- <img src="https://farm{{ londonpic.farm }}.staticflickr.com/{{ londonpic.server }}/{{ londonpic.id }}_{{londonpic.secret }}.jpg" /> -->
    
    <p id='other_city'>Is the current temperature in {{ randomcapital }} higher or lower than in London?</p>
    <button class='next' ng-show='answer' ng-click="next()" ng-click="updateScore()">Next</button>
    <button class='higher' ng-click="higher()" ng-hide='answer'>Higher</button>
    <button class='lower' ng-click="lower()" ng-hide='answer'>Lower</button>

    <div id='answer' ng-show='answer'> 
      <h2> {{ answer }} The temperature in  {{ randomcountry }} is {{ randomcapitaltemp }} </h1>


     <img src="https://farm{{ pic.farm }}.staticflickr.com/{{ pic.server }}/{{ pic.id }}_{{pic.secret }}.jpg" />
     <img style="width:200px" src="http://flagpedia.net/data/flags/normal/{{ randomcountrycode }}.png" />
    </div>


<!--     <div class="cont">
      <div ng-repeat="pic in flickerPics">
        <img src="https://farm{{ pic.farm }}.staticflickr.com/{{ pic.server }}/{{ pic.id }}_{{pic.secret }}.jpg" />
      </div>
    </div> -->



  </div>
</body>
</html>